* {
    margin: 0 auto;
}

main {
    position: relative;
    width: 80%;
    background-color: #b2ff65;
    height: 1000px;
    /*auto*/
}

header {
    width: 100%;
    height: 100px;
    background-color: #ffb5b5;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #b3ff41;
}

#a {
    width: 80%;
    height: 300px;
    background-color: #10c0c0;
    float: left;
    /* "flutua" para a esquerda */
}

aside {
    width: 20%;
    height: 700px;
    background-color: #0000ec;
    float: right;
    /* "flutua" para a direita */
}

#b {
    width: 40%;
    height: 200px;
    background-color: #fffc65;
    float: left;
}

#c {
    width: 40%;
    height: 200px;
    background-color: #ffbf48;
    float: left;
}

#d {
    width: 80%;
    height: 200px;
    background-color: #bd00bd;
    float: left;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #84a84e;
    float: left;
}

/* responsividade - mínimo de tela em 600px */
@media only screen and (max-width: 600px) {
    aside {
        display: none;
    }

    /* display none é para nao aparecer */

    #a {
        width: 100%;
        background-color: #ff4a4a;
    }

    #b {
        width: 100%;
    }

    #c {
        width: 100%;
    }

    #d {
        width: 100%;
    }
}

/* orientação de tela
landscape - paisagem
portrait - retrato */
@media only screen and (orientation: landscape) {
    body {
        background-color: #2c2a2a;
    }
}